# LBBS service file
# If you use this, it's recommended you add require = mod_systemd.so to /etc/lbbs/modules.conf

[Unit]
Description=LBBS bulletin board system daemon
After=network.target

[Service]
# If you have a newer version of systemd (>= 253, as reported by systemctl --version)
# then you can use the newer 'notify-reload' type and 'ReloadSignal'.
# Otherwise, use 'notify' and 'ExecReload' for compatibility.
#Type=notify-reload
Type=notify

# SIGHUP is ignored since remote console disconnects trigger it.
# Therefore, we pick another unused signal to use for reload.
# SIGTERM is implicitly used for shutdown so it's not specified here.
#ReloadSignal=SIGUSR2

NotifyAccess=main
Environment=HOME=/home/bbs
WorkingDirectory=/home/bbs
User=bbs
Group=bbs

# Only one of these two prestart commands is needed.
# The first one doesn't seem to work as reliably, but the latter is less secure. 
#ExecStartPre=+setcap CAP_NET_BIND_SERVICE=+eip /usr/sbin/lbbs
ExecStartPre=+sysctl net.ipv4.ip_unprivileged_port_start=18

# Since ExecStart will start with the BBS user's privileges (not root),
# tasks that the BBS normally does prior to dropping privileges,
# if started as root, won't succeed. Thus, we do them beforehand.
ExecStartPre=+install -d -m 0755 -o bbs -g bbs /var/run/lbbs
ExecStartPre=+install -d -m 0744 -o bbs -g bbs /var/log/lbbs

ExecStart=/usr/sbin/lbbs -gcb

# Only needed if Type is notify, not needed if notify-reload
ExecReload=kill -USR2 $MAINPID

LimitCORE=infinity
Restart=on-failure
RestartSec=5
PrivateTmp=false

# Since logs are already saved to disk, there's normally no need for output
# For debugging (e.g. on startup failure), it may be helpful to remove this
# (to enable logging by systemd)
StandardOutput=null

[Install]
WantedBy=multi-user.target
